{% extends "/app/Resources/Views/base.twig" %}
 
{% block content %}
<body>
  <header>
    <div class="container">
        
        {% if offline %}
            <h1>{{ langs.OFFLINE_MSG|raw }}</h1>
        {% endif %}
        </div>
        <div class="row">
            <div class="col-md-3">
                {% if userData is not empty %}
                <form id="demo-login" name="login" action="{{ routing.getRouteByRouteName('game') }}" method="POST">
                    <h2>
                        {# <a style="position: relative;top: -5px;margin-bottom:10px" href="{{ routing.getRouteByRouteName('register') }}" class="button">{{ langs.REGISTER_BTN }}</a>&nbsp; #}
                        {# <input type="hidden" name="username" value="ms-demo"/>
                        <input type="hidden" name="password" value="demo-ms"/> #}
                        <input style="position: relative;top: -5px;margin-bottom:10px" type="submit" name="submit_login" class="input-submit blue" value="{% if lang == 'en' %}Enter{% else %}Enter{% endif %} Game"/>
                    </h2>
                </form>
                {% elseif not offline %}
                <form action="/login" method="POST" class="form-text" autocomplete="off">
                    <p>
                    Login <input  type="text" class="input-group-text"  name="username" placeholder="{{ langs.USERNAME }}" value="{{ username }}" />
                    Password <input type="password" class=" col-md-3 input-group-text" name="password" placeholder="{{ langs.PASSWORD }}" value=""/>
                    <button class="btn btn-danger" type="submit" name="submit_login"><img src="{{ staticRoot }}/foto/web/public/images/icons/monitor_go.png" width="16" height="16" class="icon" alt="{{ langs.LOGIN }}"/>Login</button>
                    </p>
                </form>
                {% endif %}
            </div>
            <div id="welcomeCard" class="col-md-6">
                <div class="jumbotron">
                    <div class="col-md-6">
                        {{ langs.SLIDER1|raw }}
                    </div>
                </div>
            </div>
            <div id="gameStats" class="col-md-3">               
                    {{ langs.STATS|raw}}   
                    {{onlineUsers}}                              
              </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="row">    
            <div class="cold-md-4">
                <form>
                    <p>
                    Login <input type="text" class=" input-group-text">
                    Password <input type="text" class="input-group-text">
                    <button class="btn btn-danger">Login</button>
                    </p>
                </form>
            </div>
            <div class="jumbotron">
                <div class="col-md-8">
                    <h1>Welcome to our website!</h1>
                    <p>Discover amazing things here.</p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </div>
            </div>
        </div>
    </div> -->
  </header>
  
 {% endblock content %}
